.header-catalog-container{
  max-width: 88px;
  height: auto;
  background: linear-gradient(0deg, rgba(17, 13, 14, 0.88), rgba(17, 13, 14, 0.88)), rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.header-catalog-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content-btn{
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}
.content-btn:hover{
    border-bottom: none;
    border-top: none;
}

.btn-navigation{
    padding: 30px 25px 30px 25px;
    border: none;
    background: none;
    border-left: 1px solid;
    border-right: 1px solid;
}
.btn-navigation:hover{
    border: none;
    background: linear-gradient(90deg, rgba(188, 99, 30, 0) 50%, rgba(188, 99, 30, 0.4) 171.25%), linear-gradient(90deg, rgba(188, 99, 30, 0.4) -76.67%, rgba(188, 99, 30, 0) 50%), radial-gradient(108.75% 108.75% at 50% 50%, rgba(65, 38, 31, 0.4) 0%, rgba(75, 71, 74, 0.4) 100%);
    border-radius: 4px;
    border-left:  2px solid #BC631E;
    border-right:  2px solid #BC631E;
}
@media(max-width:670px){
   .header-catalog-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: none;
}
.header-catalog-container{
    max-width: 258px;
    background: linear-gradient(0deg, rgba(17, 13, 14, 0.88), rgba(17, 13, 14, 0.88)), rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.16);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}